body {
    font-family: sans-serif;
    background-image: linear-gradient(to bottom, white, orange);

}

img{
    width:480px;
    height:300px;
    margin:15px;
}
div{
 text-align: center;
 margin:15px;
 padding:15px;
}
nav{
   display:flex;
   justify-content:center;

}
nav a{
    border:5px solid rgb(255, 187, 0);
    text-decoration: none;
    padding:10px;
    margin:20px;
    background-color: orange;
    color:white;
}
img:hover{
 width:600px;
  height:500px;
  transition:1s linear;
box-shadow:5px 5px 5px 0 black;
}
